{% extends 'base.html' %}

{% block title %}
  Detector Page
{% endblock %}

{% block content %}
<body class="text-center">
  <div class="container">
      <form method="POST" class="form-signin" style="color:white">
          {{ DataIngestion.hidden_tag() }}
          <input type="hidden" name="form_type" value="data_ingestion">
          <h1 class="h3 mb-3 font-weight-normal">Data Ingestion</h1>
          <br>
          {{ DataIngestion.start_date.label() }}
          {{ DataIngestion.start_date(class="form-control", placeholder="Start date") }}
          {{ DataIngestion.end_date.label() }}
          {{ DataIngestion.end_date(class="form-control", placeholder="End date") }}
          {{ DataIngestion.submit(class="btn btn-lg btn-block btn-primary") }}
      </form>
      <br>
      <form method="POST" class="form-signin" style="color:white">
        {{ DataAvailability.hidden_tag() }}
        <input type="hidden" name="form_type" value="data_availability">
        <h1 class="h3 mb-3 font-weight-normal">Data Availability</h1>
        <br>
        {{ DataAvailability.start_date.label() }}
        {{ DataAvailability.start_date(class="form-control", placeholder="Start date") }}
        {{ DataAvailability.end_date.label() }}
        {{ DataAvailability.end_date(class="form-control", placeholder="End date") }}
        {{ DataAvailability.submit(class="btn btn-lg btn-block btn-primary") }}
      </form>
      <br>
      <form method="POST" class="form-signin" style="color:white">
        {{ BaseModel.hidden_tag() }}
        <input type="hidden" name="form_type" value="base_model">
        <h1 class="h3 mb-3 font-weight-normal">Anomalies Detection</h1>
        <br>
        {{ BaseModel.start_date.label() }}
        {{ BaseModel.start_date(class="form-control", placeholder="Start date") }}
        {{ BaseModel.end_date.label() }}
        {{ BaseModel.end_date(class="form-control", placeholder="End date") }}
        {{ BaseModel.submit(class="btn btn-lg btn-block btn-primary") }}
      </form>
      <br>
      <form method="POST" class="form-signin" style="color:white">
        {{ Download.hidden_tag() }}
        <input type="hidden" name="form_type" value="download">
        <h1 class="h3 mb-3 font-weight-normal">Download suivi auto</h1>
        <br>
        {{ Download.start_date.label() }}
        {{ Download.start_date(class="form-control", placeholder="Start date") }}
        {{ Download.end_date.label() }}
        {{ Download.end_date(class="form-control", placeholder="End date") }}
        {{ Download.submit(class="btn btn-lg btn-block btn-primary") }}
      </form>
      <br>
      <form method="POST" enctype="multipart/form-data" class="form-signin" style="color:white">
        {{ AnomalyUpdate.hidden_tag() }}
        <input type="hidden" name="form_type" value="anomaly_update">
        <h1 class="h3 mb-3 font-weight-normal">Update Anomalies</h1>
        <br>
        {{ AnomalyUpdate.start_date.label() }}
        {{ AnomalyUpdate.start_date(class="form-control", placeholder="Start date") }}
        {{ AnomalyUpdate.end_date.label() }}
        {{ AnomalyUpdate.end_date(class="form-control", placeholder="End date") }}
        {{ AnomalyUpdate.file.label() }}
        {{ AnomalyUpdate.file(class="form-control") }}
        {{ AnomalyUpdate.submit(class="btn btn-lg btn-block btn-primary") }}
      </form>
  </div>
</body>
{% endblock %}

